<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">프로젝트 목록</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">이름</th>
            <th scope="col">상태</th>
            <th scope="col">상세 보기</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.projectId}"></td>
                <td th:text="${project.projectName}"></td>
                <td th:text="${project.projectStatus}"></td>
                <td><a th:href="@{'/project/' + ${project.projectId}}" class="btn btn-info">상세 보기</a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/project/create(memberId=${memberId})}">프로젝트 추가</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
