<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>업무 상세보기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">업무 상세보기</h1>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">업무 제목: <span th:text="${task.taskTitle}">업무 제목</span></h3>

            <p><strong>업무 ID:</strong> <span th:text="${task.taskId}">1</span></p>
            <p><strong>담당자 ID:</strong> <span th:text="${task.memberId}">담당자 아이디</span></p>
            <p><strong>업무 내용:</strong> <span th:text="${task.taskContent}">업무 내용</span></p>

        </div>
    </div>
    <a class="btn btn-secondary mt-4" th:href="@{/project/{projectId}(projectId=${projectId})}">목록으로 돌아가기</a>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
